<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ForgetServlet</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgetServlet</servlet-name>
        <url-pattern>/ForgetServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SendMessageServlet</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMessageServlet</servlet-name>
        <url-pattern>/SendMessageServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CancelChatServlet</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelChatServlet</servlet-name>
        <url-pattern>/CancelChatServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetChatEntryServlet</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetChatEntryServlet</servlet-name>
        <url-pattern>/GetChatEntryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetChatItemServlet</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetChatItemServlet</servlet-name>
        <url-pattern>/GetChatItemServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RetriveMsgServlet</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>RetriveMsgServlet</servlet-name>
        <url-pattern>/RetriveMsgServlet</url-pattern>
    </servlet-mapping>
</web-app>